<?xml version="1.0" encoding="utf-8"?>
<robot  name="galaxea_g1">
  <link name="hand_x_link"></link>
  <link name="hand_y_link"></link>
  <link name="hand_z_link"></link>
  <link name="hand_spherical_link"></link>

  <joint name="hand_x_joint" type="prismatic">
    <parent link="hand_x_link"/>
    <child link="hand_y_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="10.0"/>
    <limit effort="200" lower="-100.0" upper="100.0" velocity="1.0"/>
  </joint>
  <joint name="hand_y_joint" type="prismatic">
    <parent link="hand_y_link"/>
    <child link="hand_z_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="10.0"/>
    <limit effort="200" lower="-100.0" upper="100.0" velocity="1.0"/>
  </joint>
  <joint name="hand_z_joint" type="prismatic">
    <parent link="hand_z_link"/>
    <child link="hand_spherical_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="200" lower="-100.0" upper="100.0" velocity="1.0"/>
  </joint>

  <joint name="spherical_joint" type="spherical">
    <parent link="hand_spherical_link"/>
    <child link="world"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <limit effort="1000.0" lower="-4" upper="4" velocity="100"/>
  </joint>

  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="left_gripper_link"/>
    <origin rpy="1.5708 -1.5708 0.0" xyz="0.0 0.0 0.07665014"/>
  </joint>
  <link name="left_gripper_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.82353 0.82353 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_link_cvx0.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_link_cvx1.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_link_cvx2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="left_gripper_finger_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.82353 0.82353 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link1_cvx0.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link1_cvx1.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link1_cvx2.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link1_cvx3.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link1_cvx4.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="left_gripper_finger_joint1" type="prismatic">
    <origin xyz="0.03689 0.013453 0.00012067" rpy="0 0 0" />
    <parent link="left_gripper_link" />
    <child link="left_gripper_finger_link1" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0.05" effort="100" velocity="0.25" />
  </joint>
  <link name="left_gripper_finger_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.82353 0.82353 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link2_cvx0.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link2_cvx1.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link2_cvx2.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link2_cvx3.obj" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_gripper_finger_link2_cvx4.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="left_gripper_finger_joint2" type="prismatic">
    <origin  xyz="0.03689 -0.013453 -0.00012053" rpy="0 0 0" />
    <parent link="left_gripper_link" />
    <child link="left_gripper_finger_link2" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="0.05" effort="100" velocity="0.25" />
    <mimic joint="left_gripper_finger_joint1"/>
  </joint>
</robot>
